flows_raspberrypi.json
[{"id":"b283f038.b3cfc","type":"tab","label":"Hot tub","disabled":false,"info":""},{"id":"63b82050.c1a16","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"d259de13.57a86","type":"mqtt-broker","z":"","name":"AdafruitIO","broker":"io.adafruit.com","port":"8883","tls":"63b82050.c1a16","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b91905fa.f52fe8","type":"ui_group","z":"","name":"UI Group 1","tab":"26a95615.6e4daa","order":1,"disp":true,"width":"9","collapse":false},{"id":"8e49580a.2ff848","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26a95615.6e4daa","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2c9b1c26.c94c44","type":"ui_group","z":"","name":"UI Group 2","tab":"26a95615.6e4daa","order":2,"disp":true,"width":"3","collapse":false},{"id":"917c3c51.4a074","type":"rpi-ds18b20","z":"b283f038.b3cfc","topic":"","array":false,"name":"","x":130,"y":300,"wires":[["ef7e2c7d.0c9b7","733e99e3.bb50f8"]]},{"id":"6e1c0d3a.921594","type":"inject","z":"b283f038.b3cfc","name":"5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["917c3c51.4a074","ddccd0ae.6687"]]},{"id":"37515c09.c43934","type":"debug","z":"b283f038.b3cfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":480,"wires":[]},{"id":"828adcbd.2b77a","type":"switch","z":"b283f038.b3cfc","name":"Water Temp","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"28-0116004d25ff","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":440,"wires":[["5cca1c15.679c54"]]},{"id":"ef7e2c7d.0c9b7","type":"function","z":"b283f038.b3cfc","name":"C to F","func":"tempc = msg.payload;\ntempf = tempc*1.8+32;\n// round to xxx.xx\ntempf = Math.round(tempf*100)/100;\nmsg.payload = tempf;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":440,"wires":[["828adcbd.2b77a","4cb27032.ffee9","e756d972.8e5858","53ef0eb4.25e3"]]},{"id":"4cb27032.ffee9","type":"switch","z":"b283f038.b3cfc","name":"Enclosure Temp","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"28-000003601c2b","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":640,"wires":[["cd9fd21a.b88ea"]]},{"id":"e756d972.8e5858","type":"switch","z":"b283f038.b3cfc","name":"Far Air Temp","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"28-000003605249","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":800,"wires":[["dc2da04f.a919f"]]},{"id":"53ef0eb4.25e3","type":"switch","z":"b283f038.b3cfc","name":"Close Air Temp","property":"file","propertyType":"msg","rules":[{"t":"eq","v":"28-011600430bff","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":960,"wires":[["6d1b7497.f72fac"]]},{"id":"4058ec7c.ede654","type":"debug","z":"b283f038.b3cfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":680,"wires":[]},{"id":"c2779a44.58e5e8","type":"debug","z":"b283f038.b3cfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":840,"wires":[]},{"id":"fce5f2fd.98a5d","type":"debug","z":"b283f038.b3cfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1000,"wires":[]},{"id":"ae53367.1ad2ec8","type":"mqtt out","z":"b283f038.b3cfc","name":"","topic":"alexwhittemore/feeds/hot-tub-water-node-red","qos":"","retain":"","broker":"d259de13.57a86","x":1040,"y":440,"wires":[]},{"id":"5cca1c15.679c54","type":"change","z":"b283f038.b3cfc","name":"clean msg","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"file","pt":"msg"},{"t":"delete","p":"dir","pt":"msg"},{"t":"delete","p":"family","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"waterTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[["37515c09.c43934","ade04ba4.cfccb8","4de81ef2.33a3e","1433cc39.acc8c4","39b13a2c.0f2ed6","aed2ae8.87e775"]]},{"id":"cd9fd21a.b88ea","type":"change","z":"b283f038.b3cfc","name":"clean msg","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"file","pt":"msg"},{"t":"delete","p":"dir","pt":"msg"},{"t":"delete","p":"family","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["4058ec7c.ede654","986fafff.9edcc","93de8455.217c68"]]},{"id":"dc2da04f.a919f","type":"change","z":"b283f038.b3cfc","name":"clean msg","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"file","pt":"msg"},{"t":"delete","p":"dir","pt":"msg"},{"t":"delete","p":"family","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":800,"wires":[["c2779a44.58e5e8","355fbb23.93bfc4","c18cb083.9e303"]]},{"id":"6d1b7497.f72fac","type":"change","z":"b283f038.b3cfc","name":"clean msg","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"file","pt":"msg"},{"t":"delete","p":"dir","pt":"msg"},{"t":"delete","p":"family","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":960,"wires":[["fce5f2fd.98a5d","d61acef6.7efea","af64db8.0a94d28"]]},{"id":"70d646ff.536a38","type":"mqtt out","z":"b283f038.b3cfc","name":"","topic":"alexwhittemore/feeds/hot-tub-node-red-enclosure-temp","qos":"","retain":"","broker":"d259de13.57a86","x":990,"y":640,"wires":[]},{"id":"5e46c716.01ddd8","type":"mqtt out","z":"b283f038.b3cfc","name":"","topic":"alexwhittemore/feeds/hot-tub-node-red-far-temp","qos":"","retain":"","broker":"d259de13.57a86","x":970,"y":800,"wires":[]},{"id":"e79f5a3d.f5aa98","type":"mqtt out","z":"b283f038.b3cfc","name":"","topic":"alexwhittemore/feeds/hot-tub-air-node-red","qos":"","retain":"","broker":"d259de13.57a86","x":950,"y":960,"wires":[]},{"id":"ade04ba4.cfccb8","type":"delay","z":"b283f038.b3cfc","name":"1/Min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":440,"wires":[["ae53367.1ad2ec8"]]},{"id":"986fafff.9edcc","type":"delay","z":"b283f038.b3cfc","name":"1/Min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":640,"wires":[["70d646ff.536a38"]]},{"id":"355fbb23.93bfc4","type":"delay","z":"b283f038.b3cfc","name":"1/Min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":800,"wires":[["5e46c716.01ddd8"]]},{"id":"d61acef6.7efea","type":"delay","z":"b283f038.b3cfc","name":"1/Min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":960,"wires":[["e79f5a3d.f5aa98"]]},{"id":"4de81ef2.33a3e","type":"ui_gauge","z":"b283f038.b3cfc","name":"Water Temp Gauge","group":"2c9b1c26.c94c44","order":1,"width":"3","height":"2","gtype":"gage","title":"Water Temp","label":"°F","format":"{{value}}","min":"70","max":"105","colors":["#4d36b9","#f39400","#ca3838"],"seg1":"90","seg2":"101","x":730,"y":560,"wires":[]},{"id":"93de8455.217c68","type":"ui_gauge","z":"b283f038.b3cfc","name":"Enclosure Temp Gauge","group":"2c9b1c26.c94c44","order":3,"width":"0","height":"0","gtype":"gage","title":"Enclosure Temp","label":"°F","format":"{{value}}","min":"50","max":"150","colors":["#4d36b9","#f39400","#ca3838"],"seg1":"100","seg2":"110","x":750,"y":720,"wires":[]},{"id":"c18cb083.9e303","type":"ui_gauge","z":"b283f038.b3cfc","name":"Remote Air Temp Gauge","group":"2c9b1c26.c94c44","order":5,"width":"0","height":"0","gtype":"gage","title":"Remote Air Temp","label":"°F","format":"{{value}}","min":"50","max":"105","colors":["#4d36b9","#f39400","#ca3838"],"seg1":"80","seg2":"90","x":750,"y":880,"wires":[]},{"id":"af64db8.0a94d28","type":"ui_gauge","z":"b283f038.b3cfc","name":"Close Air Temp Gauge","group":"2c9b1c26.c94c44","order":6,"width":"0","height":"0","gtype":"gage","title":"Close Air Temp","label":"°F","format":"{{value}}","min":"50","max":"105","colors":["#4d36b9","#f39400","#ca3838"],"seg1":"80","seg2":"90","x":740,"y":1040,"wires":[]},{"id":"bf4aa6df.3ec0b8","type":"ui_heater_controller","z":"b283f038.b3cfc","name":"Propane Heater","group":"b91905fa.f52fe8","unit":"F","order":1,"width":"0","height":"0","topic":"propaneHeater","sliderMinValue":10,"sliderMaxValue":104,"sliderStep":0.5,"thresholdRising":0.5,"thresholdFalling":0.5,"calendar":"{\n    \"Monday\": {\n        \"00:00\": 50\n    },\n    \"Tuesday\": {\n        \"00:00\": 50\n    },\n    \"Wednesday\": {\n        \"00:00\": 50\n    },\n    \"Thursday\": {\n        \"00:00\": 50\n    },\n    \"Friday\": {\n        \"00:00\": 50\n    },\n    \"Saturday\": {\n        \"00:00\": 50\n    },\n    \"Sunday\": {\n        \"00:00\": 50\n    }\n}","x":880,"y":400,"wires":[["6ad07e45.2f2bf"]]},{"id":"1433cc39.acc8c4","type":"change","z":"b283f038.b3cfc","name":"currentTemp","rules":[{"t":"set","p":"topic","pt":"msg","to":"currentTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["bf4aa6df.3ec0b8"]]},{"id":"1bd5b9a6.461216","type":"rpi-gpio out","z":"b283f038.b3cfc","name":"Relay Output","pin":"16","set":"","level":"0","freq":"","out":"out","x":1310,"y":400,"wires":[]},{"id":"ddccd0ae.6687","type":"exec","z":"b283f038.b3cfc","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU Temp","x":310,"y":100,"wires":[["b07a25f5.7e1228"],[],[]]},{"id":"b07a25f5.7e1228","type":"string","z":"b283f038.b3cfc","name":"Temp Parse","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"temp="}]},{"name":"delRightMost","params":[{"type":"str","value":"'C"}]},{"name":"toFloat","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":490,"y":100,"wires":[["f81b7091.71cd6"]]},{"id":"f81b7091.71cd6","type":"ui_gauge","z":"b283f038.b3cfc","name":"CPU Temp Gauge","group":"2c9b1c26.c94c44","order":4,"width":"0","height":"0","gtype":"gage","title":"CPU Temp","label":"°C","format":"{{value}}","min":"10","max":"85","colors":["#4d36b9","#f39400","#ca3838"],"seg1":"50","seg2":"60","x":670,"y":100,"wires":[]},{"id":"6ad07e45.2f2bf","type":"function","z":"b283f038.b3cfc","name":"Clean Relay Output","func":"if (msg.payload.currentHeaterStatus == \"on\") {\n    return { payload:1 };\n} else {\n    return { payload:0 };\n}","outputs":1,"noerr":0,"x":1110,"y":400,"wires":[["1bd5b9a6.461216"]]},{"id":"39b13a2c.0f2ed6","type":"ui_chart","z":"b283f038.b3cfc","name":"Water Temp Chart","group":"b91905fa.f52fe8","order":3,"width":0,"height":0,"label":"Water Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":600,"wires":[[]]},{"id":"3fc51f65.7d5ee","type":"debug","z":"b283f038.b3cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":560,"wires":[]},{"id":"61911f6d.8b877","type":"function","z":"b283f038.b3cfc","name":"degrees per hour","func":"msg.payload = Math.round(msg.payload*1200)/100\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":520,"wires":[["bc15ee9f.03339","5b5c4f6.b7fb2b","3fc51f65.7d5ee"]]},{"id":"bc15ee9f.03339","type":"ui_gauge","z":"b283f038.b3cfc","name":"heating rate gauge","group":"2c9b1c26.c94c44","order":2,"width":"3","height":"2","gtype":"gage","title":"5m Heating Rate","label":"°F/hr","format":"{{value}}","min":"-15","max":"15","colors":["#4d36b9","#ffffff","#ca3838"],"seg1":"-3","seg2":"3","x":1730,"y":480,"wires":[]},{"id":"5b5c4f6.b7fb2b","type":"ui_chart","z":"b283f038.b3cfc","name":"","group":"b91905fa.f52fe8","order":4,"width":0,"height":0,"label":"5m Heating Rate History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1750,"y":520,"wires":[[]]},{"id":"aed2ae8.87e775","type":"combine-statistic","z":"b283f038.b3cfc","name":"","topic":"waterTemp","operator":"mean","falsy":"include","defer":"0","timeout":"30000","distinction":"_msgid","x":700,"y":520,"wires":[["55215ffb.b925d"]]},{"id":"ad26a8d9.3ef698","type":"combine-delta","z":"b283f038.b3cfc","topic":"waterTempDelta","topicA":"waterTemp","topicB":"waterTempMinus5","name":"","x":1290,"y":520,"wires":[["61911f6d.8b877"]]},{"id":"38642d44.c5d2b2","type":"change","z":"b283f038.b3cfc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"waterTempMinus5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":500,"wires":[["e4d38b64.8e68f8"]]},{"id":"e4d38b64.8e68f8","type":"delay","z":"b283f038.b3cfc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":500,"wires":[["ad26a8d9.3ef698"]]},{"id":"55215ffb.b925d","type":"switch","z":"b283f038.b3cfc","name":"","property":"len","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":520,"wires":[["38642d44.c5d2b2","ad26a8d9.3ef698"]]},{"id":"18680571.196acb","type":"file","z":"b283f038.b3cfc","name":"","filename":"/home/pi/tubtemp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":740,"y":340,"wires":[[]]},{"id":"733e99e3.bb50f8","type":"debug","z":"b283f038.b3cfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":300,"wires":[]}]